[Unit]
Description=LED Control WebSocket Client
After=network.target

[Service]
ExecStart=/usr/bin/python3 /client.py/
WorkingDirectory=/test/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target